.food {
    position: relative;
    >.food-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
    }
    >img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .food {
        >.food-title {
            font-size: 13vw;
        }
    }
}