.navigation-link {
    margin: 0 20px;
    font-size: 18px;
    display: table;
    position: relative;
    display: inline-block;
    transition: color 0.4s;
    &:hover {
        color: var(--color-beige-rose);
    }
}

@media screen and (max-width: 600px) {
    .navigation-link {
        font-size: 1rem;
    }
}