:root{
    --color-white: #feffff;
    --color-black: rgb(60, 60, 65);
    --color-beige-rose : #E2D4D3;
    --color-ash-gray: #BAC3C0;
    --color-green-grey: #717E75;
    --color-dark-forest: #20352E;
}