.archaeology {
    >.one-site {
        margin-bottom: var(--size-main-margin);
        >.one-site-content {
            >.practical-info {
                border: solid 1px var(--color-dark-forest);
                padding: var(--size-margin-20);
                align-self: flex-start;
                margin-right: var(--size-margin-20);
                max-width: 220px;
            }
            >.one-site-text {
                flex: 1;
                >:first-child {
                    margin-block-start: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .archaeology {
        >.one-site {
            >.one-site-content {
                flex-direction: column;
                >.practical-info {
                    margin-right: 0;
                    margin-bottom: var(--size-margin-20);
                }
            }
        }
    }
}